:root {
  --primary: #7b68ee;
  --secondary: #5b4ee4;
  --success: #2ecd6f;
  --danger: #f65f6e;
  --warning: #ffb136;
  --background: #f7f6fb;
  --card: #ffffff;
  --text: #2b2c40;
  --text-light: #6f6b7d;
  --border: #dbdade;
}
